.section
  %ul.controls
    %li= link_to "Nýr spjallflokkur", new_forum_path
  %h2 Spjallborð
  
  %table
    %thead
      %tr
        %th Lesið
        %th.expand Spjallflokkur
        %th Þræðir
        %th Póstar
        %th.nowrap Seinasta innlegg
    %tbody
      - @forums.each do |forum|
        %tr
          %td ?
          %td
            = link_to forum.title, forum
            %br
            = forum.description
          %td ?
          %td ?
          %td ?
      - if @forums.empty?
        %tr
          %td.notice{:colspan => 5}
            Engir spjallflokkar.
