%section
  %h2 Spjallborð
  
  %table
    %thead
      %tr
        %th Lesið
        %th.expand Spjallflokkur
        %th Þræðir
        %th Póstar
        %th.nowrap Seinasta innlegg
    %tbody
      %tr
        %td.notice{:colspan => 5}
          Engir spjallflokkar.
