.section
  %ul.controls
    %li= link_to "Ný síða", new_page_path
  %h2 Síður
  
  %table
    %thead
      %th Section
      %th.expand URI
      %th.nowrap Síðast uppfært
    %tbody
      - @pages.each do |page|
        %tr
          %td= page.section
          %td= link_to page.uri, page
          %td.nowrap= page.created_at
      - if @pages.empty?
        %tr
          %td.notice{:colspan => 3} Engar síður.
