= form_tag torrents_path, :method => :get do
  %div
    = label_tag :search, "Leitarskylirði"
    = text_field_tag :search, params[:search]
  
  %div
    = submit_tag "Leita"

- torrent_overview @torrents, :empty_message => "Engin torrent fundust."
